{% extends 'base.html' %}
{% block title %}
	Profile
{% endblock %}
{% block content %}
	<div>
		<ul>
		  <li><a>fullname={{ user.get_full_name|default:user.username }}!</a></li>
       	  <li><a>user name= {{ user.username|default:user.username }}!</a></li>
       	  <li><a>first name= {{ user.first_name|default:user.username }}!</a></li>
          <li><a>last name= {{ user.last_name|default:user.username }}!</a></li>
          <li><a>email={{ user.email|default:user.username }}!</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
		</ul>
    </div>
{% endblock %}
