   {% load staticfiles %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="{% static 'website/img/favicon.ico' %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The TLDR; Post">
        <meta name="author" content="Raghvendra Sharma">
        
        <title>{{user.get_full_name|default:"The TLDR; Post"}} | The TLDR; Post</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="{% static 'website/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'website/alertify/css/alertify.min.css' %}" rel="stylesheet" type="text/css"> 
    <link href="{% static 'website/alertify/css/themes/default.min.css' %}" rel="stylesheet" type="text/css"> 

    <!-- Theme CSS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="{% static 'website/css/main.css' %}" rel="stylesheet">
    <link href="{% static '/css/animate.css' %}" rel="stylesheet">
     <script src="{% static 'js/wow.min.js' %}"></script>
                  <script>
                  new WOW().init();
                  </script>

    <style type="text/css">
      .intro{
         background-attachment: fixed !important;
      }
      .app{
        margin-top:25px;
      }
      @media only screen and (max-width: 500px) {
       .app{
        margin-top: 10px;
        font-size: 2.5em;
       }

    }
    ul li {
        text-align: center;
    }
    .pull-center {
        text-align: center;
    }
    </style>
          
    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        Menu <i class="fa fa-bars"></i>
                    </button>
                      <a id="logoanchor " class="navbar-brand page-scroll" href="/" style="padding:0;">
                    <img style="margin-top:0px;height:90px;width:110px;display:none; " src="{% static 'website/img/tldr-logo.png' %}" id="logo_smaller"/>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav pull-center">
                        <li class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                        
                        <li>
                            <a class="page-scroll" href="/">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll settings" id="setting" href="#" data-toggle="modal" data-target="#myModal">Settings</a>
                        </li>
                        <li >
                            <a class="page-scroll"  href="{% url 'logout' %}">Logout</a>
                        </li>
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <a href="https://chrome.google.com/webstore/detail/tldr-khabar/kpcblnmoabmcdipmdmcdjoahjaanifaj?utm_source=chrome-ntp-icon" target="_blank" class="page-scroll btn btn-xl add_chrome_btn" style="margin-top:7px"><b>Add to Chrome</b> </a>
                    </ul>
                </div>          <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 " style="width:100%">
                            <!--h1 class="brand-heading">T L D R</h1-->
                            <h2 class="app" >  <img style="margin-top:20px;height:50%;width:50%;display:inline; " src="{% static 'website/img/tldr-logo.png' %}" id="logo_bigger"/> <span id="logo_bellow"></span><br><br> Welcome {{user.get_full_name|default:user.username}}&nbsp;!</h2>         

      <style type="text/css">
        .news{
          padding-top:15px;
          padding-bottom:5px;
          padding-left:20px;
          padding-right:20px;
          background-color: #fff;
          color:#333;
          margin-top:20px;

        }
        .card-1 {
      box-shadow: 0 1px 3px rgba(179,0,0,0.12), 0 1px 2px rgba(179,0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .card-1:hover {
      box-shadow: 0 14px 28px rgb(0,0,0), 0 10px 10px rgb(0,0,0);
    }
        .dis:hover, .dis{
          border-color:#b30000 !important;
        /*  border-radius:25px;
          padding-left:10px !important;
          padding-right: 10px !important;*/
        }
        #content{
          font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
          font-style: italic;
        }
        #title{
          text-transform: uppercase;
          color: #000;
          font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        /*#title:hover{
          color: #000;
        }*/
        #source {
          font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
        }
      </style>
      <div id="data">
      </div>

    <script>
      function dismis(x){
        $("#"+x).animate(
            {
                width: '0px',
              
                opacity:'0'
                
            },
            500,
            function() {
              $(this).css({"display" :"none"});
              logoToggle();
             
              
            }
        );
       
      }
    </script>        
    
                    
                </div>
            </div>
            </div>
            </div>
        </header>

      
    <!--footer-->
        
    <footer id="footer">
        <div class="container" >
          <div class="row" >
            <div class="col-md-6">
                
              <span class="copyright" style="color: #ffffff;padding-left:3px; ">Copyright © ERIGO LABS LLP 2015-{% now 'Y' %}</span></br>
              <small><a href="mailto:tldrkhabar@gmail.com" style="color: white;">tldrkhabar@gmail.com</a></small>
            </div>
            <div class="col-md-6">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item"><a href="https://twitter.com/erigo_labs" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item"><a href="https://www.facebook.com/erigolabs/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/company-beta/10911175/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
             </ul>
            </div>
          </div>
        </div>
      </footer>


    <!-- Setting Modal BOx -->




    <div class="container">

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog" style="color: black;font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif !important;">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" style='background:none'>Setting</h4>
            </div>
            <div class="modal-body">
            <div class="container-fluid">
            <form method="POST" action="." autocomplete="off">{% csrf_token %}
            <div class="row" >
                <div class="col-xs-5">Number of Lines&nbsp;</div>
                <div class="col-xs-7"><input type="number" class="form-control" id="number" name="nol"  value="5" min="1" max="10" title="Enter the number of lines between 1 to 10"></div>
            </div>
            <br/>
            <div class="checkbox">
                <div class="row">
                <div class="col-xs-4"><label><input type="checkbox" id="toi"> Times of India</label></div>
                <div class="col-xs-4"><label><input type="checkbox" id="cnn"> CNN</label></div>
                <div class="col-xs-4"><label><input type="checkbox" id="ht"> Hindustan Times</label></div>
                </div>
            </div>
            </form>
              </div>
            </div>
            <div class="modal-footer">
            <style type="text/css">
                .btn.btn-xl{
                    padding:5px 25px;
                    margin:0;
                }
            </style>
                <!-- <button class="btn btn-xl" id="old" style="float: left">View</button> -->
              <button type="submit" class="btn btn-xl" id="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>







    <!-- // -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'website/js/tldr.min.js' %}"></script>
    <script src="{% static 'website/alertify/alertify.min.js' %}" ></script>
    <script src="{% static 'website/js/csrf.js' %}"></script>
    <script>
      // functon change() change view of alertify alert
      function change(){
                       var x= $(".ajs-button.ajs-ok");
                       x.removeClass("ajs-button");
                       x.removeClass("ajs-ok");
                       x.addClass("btn-xl");
                       x.css(
                        {"margin":"0",
                         "padding":"5px 22px 5px 22px"}
                        );
                    }
      function viewSetting(){
        $.ajax({
                    type: "post",
                    url: '/ajax/before/', 
                    dataType:'json',
                    success: function (data) {
                        $("#number").attr({"value":data[0].nol});
                        $("#toi").prop("checked",data[0].toi);
                        $("#ht").prop("checked",data[0].ht);
                        $("#cnn").prop("checked",data[0].cnn);
                        
                  }         
                 });
                return false;
      }
     function dataRefresh(){
                    $("#data").html('<br/><br/><i style="text-align: center;" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>');
                    $.ajax({
                    type: "get",
                    url: '/api/summary/list/', 
                    dataType:'json',
                    success: function (d) {
                      var data=JSON.stringify(d);
                      var data1=JSON.parse(data);
                      var i=1;
                      var x='';
                      for (v in data1) {

                       x=x+ '<div class="wow slideInUp news card-1" id="'+i+'"><br/>';
                       x=x+'<button onclick="dismis('+ i+ ')" style="float:right;" class="btn btn-xl dis"><b>X</b></button>';
                       x=x+'<h3><a href="'+data1[v].url+'" target="_blank" id="title">'+data1[v].title+'</a></h3>';
                       x=x+ '<p id="content">'+data1[v].summarize_url+'</p>';
                      x=x+'<p id="source">Via - '+data1[v].source+'<p>';
                      x=x+'<a href="'+data1[v].url+'" target="_blank" class="btn btn-xl add_chrome_btn" style="border:none">Read More</a><br/></div><br>';
                      i=i+1;
                       
                      $("#data").html('');
                           
                      }
                      $("#data").append(x+"<br/><br/><br/>");
                      
                      
                     
                        
                  }         
                 });
                logoToggle();
                return false;

        }

        function logoToggle(){

            var yPos=$(this).scrollTop();
                    if(yPos<200){
                        // $("#logo_bigger").fadeIn(800);
                        $("#logo_smaller").fadeOut(500,function(){$(this).hide();});
                        
                    }
                    else{
                        // $("#logo_bigger").fadeOut(500,function(){$(this).hide();});
                        $("#logo_smaller").fadeIn(800);
                    }
                  }          
        
        $(document).ready(function(){
          viewSetting();
          logoToggle();
          dataRefresh();
      
        $(window).scroll(function(){
          logoToggle();
        });

      if({{x}}==1){
      history.pushState(null, null, '/profile/')
      $('#myModal').modal('toggle');
      }

        $("body").height($(window).height());
            
      });

        $(document).ready(function() {
          $('input').keydown(function(event){
            if(event.keyCode == 13) {
              event.preventDefault();
              return false;
            }
          });
        });

      
            
        $(document).ready(function(){
            $("#submit").on('click', function(e){
                e.preventDefault();
                if($("form")[0].checkValidity()){
                $("#myModal").modal('toggle');
                var nol = $("#number").val();
                var toi="False";
                var cnn="False";
                var ht="False";
                if($("#toi").prop("checked")==true)
                    toi ="True";
                if($("#cnn").prop("checked")==true)
                     cnn ="True";
                 if($("#ht").prop("checked")==true)
                     ht ="True";
            
                $.ajax({
                    type: "post",
                    url: '/ajax/settings/', 
                    dataType:'html',
                    data: {
                    'nol': nol,
                    'toi':toi,
                    'cnn':cnn,
                    'ht':ht
                    },
                    success: function (data) {
                     $("#data").html('<br/><br/><i style="text-align: center;" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>');
                    alertify.alert('<h4 class="modal-title">Settings</h4>', '<span style= "font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif !important; font-style: none !important;" >Settings Updated Sucessfully</span>');           
                    
                    change();
                   } 
                 });
                 dataRefresh();
            }
            else{
              alertify.alert('<h4 class="modal-title">Input Error</h4>', '<span style= "font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif !important; font-style: none !important;" >Please enter the number of lines between 1 to 10</span>');
              change();           
                    
            }
            });

        });
      
      </script>
      
    </body>

    </html>

