
 .btn-primary.active,.btn-primary:active,.btn-xl.active,.btn-xl:active,.open .dropdown-toggle.btn-primary,.open .dropdown-toggle.btn-xl{
	background-image:none}
	
 .btn-primary,.btn-xl{ 
 font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}
	
   .text-muted{
    color:#777;
	font-size:15px;
	padding-top:5px;}
 
.btn-xl{
	 color:#fff;background-color:#b30000;border-color:#660000;border-radius:0px;font-size:18px;padding:10px 40px;margin:10px;}
	.btn-xl.active,.btn-xl:active,.btn-xl:focus,.btn-xl:hover,.open .dropdown-toggle.btn-xl{color:#fff;background-color:#e60000;border-color:#660000; }
	.btn-xl.disabled,.btn-xl.disabled.active,.btn-xl.disabled:active,.btn-xl.disabled:focus,.btn-xl.disabled:hover,.btn-xl[disabled],.btn-xl[disabled].active,.btn-xl[disabled]:active,.btn-xl[disabled]:focus,.btn-xl[disabled]:hover,fieldset[disabled] .btn-xl,fieldset[disabled] .btn-xl.active,fieldset[disabled] .btn-xl:active,fieldset[disabled] .btn-xl:focus,fieldset[disabled]
	.btn-xl:hover{
     background-color:#e60000;border-color:#660000;}
	
 p,section h3.section-subheading{
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;}
	section{padding:100px 0}

	section h2.section-heading{
	font-size:40px;margin-top:0;margin-bottom:15px}

    section h3.section-subheading{
	font-size:16px;text-transform:none;font-weight:400;margin-bottom:75px}
	.service-heading{margin:15px 0;text-transform:none}

	footer span.copyright,footer ul.quicklinks{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif}
		.team-member{text-align:center;margin-bottom:50px}
		.team-member img{margin:0 auto;border:3px solid #fff }
		.team-member h4{margin-top:25px;margin-bottom:0;text-transform:none}
		.team-member p{margin-top:0}
	
 section#contact {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;}
  
section#contact .section-heading {
  color: white;}
  
section#contact .form-group {
  margin-bottom: 25px;}
  
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;}
  
section#contact .form-group input.form-control {
  height: auto;}
  
section#contact .form-group textarea.form-control {
  height: 149px;}
  
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;}

section#contact .text-danger {
  color: #e74c3c;}

ul.social-buttons {
  margin-bottom: 0;}
  
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #b30000;}
  
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;}

h2 {
  margin-bottom: 15px;
  font-size: 3em;}

 p {
  margin-bottom: 30px;}

footer {
  padding: 25px 0;
  text-align: center;
   background:-webkit-radial-gradient(#303030 30%, #080808 );}

body,html
   {
	 height:100%;width:100%}

.navbar-custom,body
{
	background-color:#000}

.intro,body,html{width:100%}

  body
   {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif ;color:#fff;webkit-tap-highlight-color:rgba(255,255,255,.2)}
	
.navbar-custom,h1,h2,h3,h4,h5,h6
{
text-transform:uppercase;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif}

h1,h2,h3,h4,h5,h6{
	margin:0 0 35px;font-weight:700;letter-spacing:1px}
p{
	margin:0 0 25px;font-size:18px;line-height:1.5}
	a{color:white;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
	a:focus,a:hover{text-decoration:none;color:#b30000}
	.light{font-weight:400}
	.navbar-custom{margin-bottom:0;border-bottom:1px solid rgba(255,255,255,.3)}
	.navbar-custom .navbar-toggle{color:#fff;background-color:rgba(255,255,255,.2);font-size:12px}
	.navbar-custom .nav li a:active,.navbar-custom .nav li a:focus,.navbar-custom .nav li a:hover{background-color:transparent;outline:0}
	.navbar-custom .navbar-toggle:active,.navbar-custom .navbar-toggle:focus{outline:0}
	.navbar-custom .navbar-brand{font-weight:700}
	.navbar-custom .navbar-brand:focus{outline:0}
	.navbar-custom a{color:#fff}
	.navbar-custom .nav li a{-webkit-transition:background .3s ease-in-out;-moz-transition:background .3s ease-in-out;transition:background .3s ease-in-out}
	.navbar-custom .nav li a:hover{color:rgba(255,255,255,.8)}
	.navbar-custom .nav li.active{outline:0}
	.navbar-custom .nav li.active a{background-color:rgba(255,255,255,.3)}
	.navbar-custom .nav li.active a:hover{color:#fff}
	.intro{display:table;height:auto;padding:100px 0;text-align:center;color:#fff;background:url(../img/intro-bg.jpg) bottom center no-repeat #000;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover}
	.intro .intro-body{display:table-cell;vertical-align:middle}
	.intro .intro-body .brand-heading{font-size:40px}
	.intro .intro-body .intro-text{font-size:18px}
	
  .btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);}
  
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;}
  
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;}
  
@-webkit-keyframes pulse{0%,100%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}}
@-moz-keyframes pulse{0%,100%{-moz-transform:scale(1);transform:scale(1)}50%{-moz-transform:scale(1.2);transform:scale(1.2)}}
.content-section{padding-top:100px}
.download-section{width:100%;color:#fff;background:url(../img/downloads-bg.jpg) center center no-repeat #000;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover}
@media (min-width:767px){
.content-section{padding-top:250px}
.download-section{padding:100px 0}
.btn{font-weight:400;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;border-radius:0}
.btn-default{border:1px solid #42DCA3;color:#42DCA3;background-color:transparent}
.btn-default:focus,.btn-default:hover{border:1px solid #42DCA3;outline:0;color:#000;background-color:#42DCA3}}

#logoanchor{
	padding:0;}	

#search{
      padding:10px;
      font-size:15px;
	  width:70%;
	  color:black; }
	  
.bg-gradient-red{
    padding-bottom:60px;
	padding-top:100px; 
	width:100%;
	margin:0;
	background-size:cover;
	background: #070000;  /* fallback for old browsers */
    background: -webkit-radial-gradient( #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

#download{
	padding:0;}

#playstore{
		   max-width: 50%;
           max-height: 50%;}
		   
.img-size{
	width:200px;
	height:200px;}
	
#team{
	
	padding-bottom:120px;
	padding-top:120px;}

#team-heading{
	margin-bottom:100px;
	margin-top:30px;}
	
.email{
border:0;}
	
#erigo{
	max-width:10%;
    border-radius:100px;}
	
	#download_app{
	margin:0;
    padding:6px;}
		
	.app{
		font-weight:30px;
		word-spacing:10px;	}
	
	.add_chrome_btn{
	padding:5px 15px 5px 15px;
	border-radius: 100px;	
	}
	
.always{
	color:white;
	padding:3px;}
		
.downloadrow{
	padding:120px;}
	
.vs{
	padding:120px;}

@media (max-width:500px){
	.vs{padding:50px;}	}
	
@media (min-width:768px){
	.navbar-custom{padding:20px 0;border-bottom:none;letter-spacing:1px;background:0 0;-webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;transition:background .5s ease-in-out,padding .5s ease-in-out}
	.navbar-custom.top-nav-collapse{padding:0;background:#000;border-bottom:1px solid rgba(255,255,255,.3)}}
	
@media (min-width:768px){
	.intro{height:100%;padding:0}
	.intro .intro-body .brand-heading{font-size:100px}
	.intro .intro-body .intro-text{font-size:26px}}

@media (min-width:768px){
p{
margin:0 0 35px;font-size:20px;line-height:1.6}}
 
::-moz-selection {
  text-shadow: none;
  background: #b30000;}
  
::selection {
  text-shadow: none;
  background: #b30000;}
  
img::selection {
  background: transparent;}
  
img::-moz-selection {
  background: transparent;}

body {
  webkit-tap-highlight-color: #b30000;
  }
