{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %} 

{% block content %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<h1 style="text-align: center;">{{ title }}</h1> <br/>
{% if title == "Summarized Url" %}
<a href="{{ url }}" target="_blank">{{ url }}</a> <br/><br/>
<p>{{ summary }}</p> <br/>
{% endif %}
<form method="POST" action="">{% csrf_token %}
{{ form|crispy }}
{% if url is null %}
<button class="btn btn-primary" type='submit'>Submit</button>
{% endif %}
{% if title == "Summarized Url" %}
<a href="{% url 'summary' %}">Back</a>
{% endif %}
</form>
</div>
</div>
{% endblock %}