{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'website/img/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The TLDR; Post">
    <meta name="author" content="">
	
	<title>Login | The TLDR; Post</title>
	<style type="text/css">
		.social-buttons2{
			width:100%;
			max-width:450px;
			padding:30px;
		}
		a{
			color:white !important;
			}
		.container>.navbar-header,header,nav,footer {
    		margin-right: 0px !important;
    		margin-left: 0px !important;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'website/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> 
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link href="{% static 'website/alertify/css/alertify.min.css' %}" rel="stylesheet" type="text/css"> 
	<link href="{% static 'website/alertify/css/themes/default.min.css' %}" rel="stylesheet" type="text/css"> 

<!-- Theme CSS -->
	<link href="{% static 'website/css/main.css' %}" rel="stylesheet">
	<link href="{% static 'login/css/bootstrap-social.css' %}" rel="stylesheet" type="text/css">
	  
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a id="logoanchor " class="navbar-brand page-scroll" href="/" style="padding:0;">
				<img style="margin-top:0px;height:90px;width:110px;display:inline; " src="{% static 'website/img/tldr-logo.png' %}"></img>
				</a>
			</div>
        </div>
        <!-- /.container -->
    </nav>
	<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="max-width:100%">
	                    {% if user and not user.is_anonymous %}
 							<meta http-equiv="REFRESH" content="0;url={% url 'profile' '' %}" />
 						{% else %}
    						<div style="text-align:center;">
								<center>
									<div class="social-buttons2">
										<a class="btn btn-block btn-social btn-lg btn-facebook" href="{% url 'social:begin' 'facebook' %}">
											<span class="fa fa-facebook"></span> Sign in with Facebook
										</a>
										<br/><br/>
										<a class="btn btn-block btn-social btn-lg btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
											<span class="fa fa-google"></span> Sign in with Google
										</a>
										<br/><br/>
										<a class="btn btn-block btn-social btn-lg btn-twitter" href="{% url 'social:begin' 'twitter' %}">
											<span class="fa fa-twitter"></span> Sign in with Twitter
										</a>
										<br/><br/>
										<a class="btn btn-block btn-social btn-lg btn-github" href="{% url 'social:begin' 'github' %}">
											<span class="fa fa-github"></span> Sign in with Github
										</a>
									</div>
								</center>
 							</div>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>	

<!--footer-->

<footer id="footer">
    <div class="container" >
      <div class="row" >
        <div class="col-md-6">
     		
          <span class="copyright" style="color: #ffffff;padding-left:3px; ">Copyright © ERIGO LABS LLP 2015-{% now 'Y' %}</span></br>
		  <small><a href="mailto:tldrkhabar@gmail.com" style="color: white;">tldrkhabar@gmail.com</a></small>
        </div>
        <div class="col-md-6">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="https://twitter.com/erigo_labs" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item"><a href="https://www.facebook.com/erigolabs/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/company-beta/10911175/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
		 </ul>
        </div>
      </div>
    </div>
 </footer>

<!-- jQuery -->
<script src="{% static 'website/vendor/jquery/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="{% static 'website/js/tldr.min.js' %}"></script>
<script src="{% static 'website/alertify/alertify.min.js' %}" ></script>
<script src="{% static 'website/js/csrf.js' %}"></script>
<script>
	$(document).ready(function(){
		$("body").height($(window).height());
		
	});
 </script>
  
</body>

</html>
